{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <div>
    <table class='table mt-3 table-hover'>
      <thead class='table-dark'>
        <tr>
          <th>pk</th>
          <th>리뷰 제목</th>
          <th>영화 이름</th>
          <th>영화 평점</th>
        </tr>
      </thead>
      <tbody>
        {% for review in review_list%}
          <tr>
            <td>{{review.pk}}</td>
            <td>
              <a href="{% url 'movie_review:detail' review.pk %}">
                {{review.title}}
              </a>
            </td>
            <td>{{review.movie_name}}</td>
            <td>{{review.garde}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}