{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if review.image %}
<div class="container d-flex justify-content-center mt-3">
<img src="{{ review.image.url }}" alt="이미지">
</div>
{% endif %}
  <div class='mt-3'>
    <h2>{{ review.title }}</h2>
    <div class='d-flex align-items-center'>
      <h4 class='me-3'>
        {{ review.movie_name }}</h4>
      <p>
        grade :{{ review.garde }}
      </p>
    </div>
    <div class='mt-3'>
      <p>{{ review.content }}</p>
    </div>
    <div class='mt-4'>
      <p class='text-end'>
        작성시간 :
        {{ review.created_at }}
        | 수정 :
        {{ review.updated_at }}
      </p>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <a href="{% url 'movie_review:update' review.pk %}" class="btn btn-primary me-3">리뷰 수정</a>
      <form action="{% url 'movie_review:delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">리뷰 삭제</button>
      </form>
    </div>
  </div>

{% endblock content %}
