@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
}
.page{
    width:1920px;
    height:2000px;
}
.item-sub {
  text-decoration:none;
  font-size: 1.5rem;
  color:gray;
  font-family: 'HBIOS-SYS';
  padding:8px;
  border-radius:4px;
  }
.item-sub:hover {
    background-color:darkblue;
    color:white;
}
.item-title {
    list-style-type:none;
    display:flex;
    justify-content: center;
}

.item {
    padding:0;
}

.top {
    height:80px;
    padding:40px;
    display:flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    background-color:white;
    align-items: center;
    z-index:1;
}

.logo {
    height:60px;
}

.middle {
    height:320px;
    margin:80 0 0;
    display:flex;
    justify-content: center;
    background-image: url(./images/background.jpg);
    background-size: cover;
    align-items: center;
}
.middle-title{
    font-family: 'HBIOS-SYS';
    font-size: 3rem;
}
.list{
    display:flex;
    flex-flow: column nowrap;
    list-style-type:none;
    padding-left: 1rem;
    font-family:'HBIOS-SYS';
    font-size: 1.5rem;
}
.list_name{
    font-family:'HBIOS-SYS';
    font-size: 1.5rem;
    padding:4px;
}
.genre{
    width:20%;
    display:flex;
    flex-flow: column wrap;
    margin-top: 2rem;
    padding: 1rem;
}
.bottom{
    display:flex;
    flex-flow: row nowrap;
}
.movies{
    display:flex;
    flex-flow: column nowrap;
    
    align-items: center;
    margin-top: 2rem;
    padding: 24px;
    width:80%;
    background-color:darkgrey;
}
.m_img{
    border-radius:1rem;
    width:300px;
}
.posters{
    width:1200px;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
.title{
    font-family:'HBIOS-SYS';
    text-align:center;
}
.m_name{
    font-family: 'HBIOS-SYS';
    text-align:center;
    font-size: 1rem;
    font-weight:bold;
}
.poster{
    position:relative;
    background-color:white;
    box-shadow: 1rem 1rem 1rem black;
    padding:24px;
    margin:1rem;
    opacity:1;
}
.foot{
    width:100%;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    bottom:0px;
    background-color:black;
}
.foot_text{
    text-align:center;
    color:white;
}
.reserve{
    width:100%;
    height:100%;
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.text{
    font-family: 'HBIOS-SYS';
    text-align: center;
    color:black;
    font-weight: 1000;
    font-size: 2rem;
    padding: 2rem;
}
.poster:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.poster:hover .m_img{
    opacity:0.3;
    transition: 0.5;
}
.poster:hover .reserve{
    opacity:1;
}
.imgbox{
    width:100%;
    position:relative;
}

.list_name:hover{
    background-color: darkgrey;
    color:white;
}

.score_box{
    width:77px;


}
.st_on {
    height:20px;
    overflow:hidden;
    background-image :url(./images/starscore.png);
    background-size: cover;
}
.pls{
    display:flex;
    justify-content:center;
    font-family:'HBIOS-SYS';
    font-size:1rem;

}