{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid" style="color:red" >
        <a class="navbar-brand" href="{% url 'articles:index' %}" >Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:index' %}">회원목록</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">로그아웃</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'accounts:login' %}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
    <div class="container">    
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>